.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 100;
  cursor: pointer;
}

.alert_message {
  box-sizing: content-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 430px;
  margin-left: -150px;
  margin-top: -215px;
  padding: 10px;
  border: #000 2px solid;
  border-radius: 10px;
  background: #fff;
  color: #000;
  z-index: 1000;
}

.alert_message input, .alert_message button {
  margin: 2px;
  width: 100%;
  border: 1px #666 solid;
  border-radius: 5px;
  font-size: 14px;
}

.dialog {
  box-sizing: content-box;
  position: fixed;
  top: 50%;
  left: 100%;
  width: 300px;
  height: 430px;
  margin-left: -25px;
  margin-top: -215px;
  padding: 10px;
  border: #000 2px solid;
  border-radius: 10px;
  background: #fff;
  color: #000;
  z-index: 1500;
  font-size: 12pt;
}

.dialog .label {
  box-sizing: content-box;
  transform: rotate(270deg);
  width: 430px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin-left: -71%;
  margin-top: 68%;
  cursor: pointer;
}

.dialog .header {
  box-sizing: content-box;
  text-align: center;
  margin-top: -200px;
}

.dialog .history {
  box-sizing: content-box;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.dialog input, .dialog button, .dialog .history {
  margin: 2px 25px;
  width: 85%;
  border: 1px #666 solid;
  border-radius: 5px;
  font-size: 14px;
}

.dialog .history .question, .dialog .history .answer {
  margin: 5px;
  width: 78%;
  border-radius: 5px;
  padding: 5px;
}

.dialog .history .question {
  margin-left: 40px;
  background: #99f;
}

.dialog .history .answer {
  margin-right: 40px;
  background: #9ff;
}

.dialog .history .answer img,
.dialog .history .answer embed,
.dialog .history .answer audio,
.dialog .history .answer video {
  cursor: pointer;
  display: block;
  max-width: 160px;
}
