<template>
  <div id="app">
    <div class="text-center">
      <h1>{{ msg }}</h1>
      <h2>Обзор популярных CSS фреймворков</h2>
    </div>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="./assets/logos/bootstrap-stack.png" alt="Bootstrap">
        <div class="card-body">
          <h5 class="card-title">Bootstrap</h5>
          <p class="card-text">
            Bootstrap - это инструментарий с открытым исходным кодом для разработки с помощью HTML, CSS и JS. <br/>
            Позволяет быстро прототипируйте идеи или создайте приложения с помощью переменных Sass и миксинов, гибкой сетчатой системы, обширных готовых компонентов и мощных плагинов, построенных на jQuery.
          </p>
          <a href="bootstrap.html" class="btn btn-primary">
            Подробнее
          </a>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/logos/skeleton.png" alt="Skeleton">
        <div class="card-body">
          <h5 class="card-title">Skeleton</h5>
          <p class="card-text">
            Основан на JavaScript и CSS, используется для быстрого и безошибочного создания адаптивных сайтов которые корректно отображаются как на больших мониторах, так и на экранах маленьких гаджетов.<br/>
            Большой плюс Skeleton — его можно приспособить под любой дизайн.
          </p>
          <a href="skeleton.html" class="btn btn-primary">
            Подробнее
          </a>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/logos/bulma.png" alt="Bulma">
        <div class="card-body">
          <h5 class="card-title">Bulma</h5>
          <p class="card-text">
            Bulma - это бесплатный и открытый CSS фреймворк основанный на Flexbox.
            В первую очередь ореентирован на разработку вебсайтов для мобильных устройств.
          </p>
          <a href="bulma.html" class="btn btn-primary">
            Подробнее
          </a>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/logos/semantic-ui.png" alt="Semantic UI">
        <div class="card-body">
          <h5 class="card-title">Semantic UI</h5>
          <p class="card-text">
            Поддерживает последние версии HTML и CSS и имеет хорошую подборку скриптовых модулей и API. Использует Less. По применимости соревнуется с bootstrap.<br/>
            Содержит большое количество компонентов: иконки, изображения, надписи, меню и другие стандартные компоненты.
          </p>
          <a href="semantic-ui.html" class="btn btn-primary">
            Подробнее
          </a>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Добро пожаловать!'
    }
  }
}
</script>

<style lang="scss">
  #menu {
    @media (max-width: 420px) {
      .navbar-brand {
        max-width: 75%;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  @media (min-width: 768px) {
    #menu {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;
    }
  }

  @media (min-width: 768px) {
    .bd-sidebar {
      border-right: 1px solid rgba(0,0,0,.1);

      position: -webkit-sticky;
      position: sticky;
      top: 56px;
      z-index: 1000;
      height: calc(100vh - 56px);
    }
  }
</style>
