<template>
  <div id="bootstrap" class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <nav class="nav flex-column">
        <a class="nav-link" href="#navbar-doc">Навигационная панель</a>
        <a class="nav-link" href="#containers">Контейнеры</a>
        <a class="nav-link" href="#responsive-breakpoints">Отзывчивые брейкпойнты</a>
        <a class="nav-link" href="#grid">Система сеток</a>
        <a class="nav-link" href="#grid-options">Параметры сеток</a>
        <a class="nav-link" href="#auto-layout-columns">Автоматическое расположение</a>
        <a class="nav-link" href="#equal-width">Колонки равной ширины</a>
        <a class="nav-link" href="#setting-one-column-width">Установка ширины одной колонки</a>
        <a class="nav-link" href="#variable-width-content">Содержимое адаптивной ширины</a>
      </nav>
    </div>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content" role="main">
      <h1>Bootstrap</h1>
      <img src="./assets/logos/bootstrap-stack.png" class="img-fluid" alt="Bootstrap" style="max-width: 250px;">
      <div id="navbar-doc">
        <h2>Навигационная панель</h2>
        <p>Документация и примеры для мощного и отзывчивого навигационного заголовка Bootstrap и навигационной панели.
          Включает поддержку брендинга, навигации и прочего, включая поддержку нашего плагина для сворачивания.</p>
        <div class="embed-responsive embed-responsive-21by9">
          <video controls>
            <source src="./assets/bootstrap/bootstrap-navbar.mp4" type="video/mp4">
            <source src="./assets/bootstrap/bootstrap-navbar.webm" type="video/webm">
          </video>
        </div>
      </div>
      <div id="containers">
        <h2>Контейнеры</h2>
        <p>Это базовый элемент в Bootstrap и они необходимы при использовании нашей <strong>стандартной сеточной
          системы</strong>. Выбирайте отзывчивый, с фиксированной шириной (что значит, что его <code
          class="highlighter-rouge">max-width</code> изменяется на каждом брейкпойнте) или контейнер с плавающей шириной
          (width ==<code class="highlighter-rouge">100%</code> всегда).</p>
        <p>Контейнеры <em>могут</em> иметь вложенные элементы, но в большинстве случаев можно обойтись без них.</p>
        <div class="bd-example">
          <div class="bd-example-container">
            <div class="bd-example-container-header"></div>
            <div class="bd-example-container-sidebar"></div>
            <div class="bd-example-container-body"></div>
          </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span
          class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="c">&lt;!-- Content here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
        <p>Используйте <code class="highlighter-rouge">.container-fluid</code> для создания контейнера полной ширины,
          занимающий 100% зоны просмотра.</p>
        <div class="bd-example">
          <div class="bd-example-container bd-example-container-fluid">
            <div class="bd-example-container-header"></div>
            <div class="bd-example-container-sidebar"></div>
            <div class="bd-example-container-body"></div>
          </div>
        </div>
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span
          class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container-fluid"</span><span
          class="nt">&gt;</span>
  ...
<span class="nt">&lt;/div&gt;</span></code></pre>
        </figure>
      </div>
      <div id="responsive-breakpoints">
        <h2>Отзывчивые брейкпойнты</h2>
        <p>Поскольку Bootstrap разработан как mobile-first, тут используются <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries">медиа-запросы</a>
          @media для создания брейкпойнтов контента и интерфейсов. Эти брейкпойнты в основном сделаны на минимальных
          широтах зоны просмотра и позволяют масштабировать элементы по мере изменения размера зоны просмотра.</p>
        <p>В исходниках Sass Bootstrap главным образом записаны следующие ранги @media (брейкпойнты) для разметки,
          сеточной системы и компонентов.</p>
        <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Экстрамалые девайсы («телефоны», &lt; 576px)
// Нет @media, т.к. это по умолчанию в Bootstrap
</span>
<span class="c1">// Малые девайсы («ландшафтные телефоны», &gt;= 576px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">576px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span>

<span class="c1">// Средние девайсы («таблетки», &gt;= 768px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">768px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span>

<span class="c1">// Большие девайсы (десктопы, &gt;= 992px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">992px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span>

<span class="c1">// Экстрабольшие девайсы (большие десктопы, &gt;= 1200px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">1200px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span></code></pre>
        </figure>
        <p>Так как все эти параметры записаны в исходниках как Sass, все @media доступны через миксины:</p>
        <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span
          class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span class="n">xs</span><span
          class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span
            class="n">sm</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span
            class="n">md</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span
            class="n">lg</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span
            class="n">xl</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>

<span class="c1">// Example usage:
</span><span class="k">@include</span> <span class="nd">media-breakpoint-up</span><span class="p">(</span><span
            class="n">sm</span><span class="p">)</span> <span class="p">{</span>
  <span class="nc">.some-class</span> <span class="p">{</span>
    <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span>
  <span class="p">}</span>
<span class="p">}</span></code></pre>
        </figure>
        <p>По случаю можно использовать и другие размеры (max-width: 575px == «данный размер <em>или меньше</em>»):</p>
        <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Экстрамалые девайсы («телефоны», &lt; 576px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span
          class="o">:</span> <span class="m">575.99px</span><span class="p">)</span> <span class="p">{</span> <span
          class="nc">...</span> <span class="p">}</span>

<span class="c1">// Малые девайсы («ландшафтные», &lt; 768px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span
            class="o">:</span> <span class="m">767.99px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span>

<span class="c1">// Средние девайсы («таблетки», &lt; 992px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span
            class="o">:</span> <span class="m">991.99px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span>

<span class="c1">// Большие девайсы (большие десктопы, &lt; 1200px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span
            class="o">:</span> <span class="m">1199.99px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span>

<span class="c1">// Экстрабольшие девайсы (большие десктопы)
</span><span class="o">//</span> <span class="nt">Тут нет @media, т.к. такие брейпкойнты не имеют верхней границы по ширине</span> <span
            class="nt">width</span></code></pre>
        </figure>
        <div class="bd-callout bd-callout-info">
          <p>Обратите внимание, что поскольку браузеры в настоящее время не поддерживают <a
            href="https://www.w3.org/TR/mediaqueries-4/#range-context">запросы диапазона</a>, мы используем ограничения
            <a href="https://www.w3.org/TR/mediaqueries-4/#mq-min-max"><code class="highlighter-rouge">min-</code> и
              <code class="highlighter-rouge">max-</code> prefixes</a> префиксов и видовых экранов с дробной шириной
            (что может произойти при определенных условиях на устройствах с высоким разрешением на дюйм, например),
            используя значения с более высоким точность для этих сравнений.</p>
        </div>
        <p>Опять же, эти @media доступны через Sass миксины:</p>
        <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span
          class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span
          class="n">xs</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
          class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span
            class="n">sm</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span
            class="n">md</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-down</span><span class="p">(</span><span
            class="n">lg</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span></code></pre>
        </figure>
        <p>Также в наличии @media и миксины размеров экрана, использующие минимальные и максимальные ширины
          брейкпойнтов.</p>
        <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Экстрамалые девайсы («портретные телефоны», &lt; 576px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">max-width</span><span
          class="o">:</span> <span class="m">575.99px</span><span class="p">)</span> <span class="p">{</span> <span
          class="nc">...</span> <span class="p">}</span>

<span class="c1">// Малые девайсы («ландшафтные», &gt;= 575px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">576px</span><span class="p">)</span> <span class="nf">and</span> <span
            class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span
            class="m">767.99px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>

<span class="c1">// Средние девайсы («таблетки», &gt;= 768px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">768px</span><span class="p">)</span> <span class="nf">and</span> <span
            class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span
            class="m">991.99px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>

<span class="c1">// Большие девайсы (большие десктопы, &gt;= 992px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">992px</span><span class="p">)</span> <span class="nf">and</span> <span
            class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span
            class="m">1199.99px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span>

<span class="c1">// Большие девайсы (большие десктопы, &gt;= 1200px)
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
            class="o">:</span> <span class="m">1200px</span><span class="p">)</span> <span class="p">{</span> <span
            class="nc">...</span> <span class="p">}</span></code></pre>
        </figure>
        <p>Эти @media также доступны из миксинов Sass:</p>
        <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span
          class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span
          class="n">xs</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
          class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span
            class="n">sm</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span
            class="n">md</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span
            class="n">lg</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span>
<span class="k">@include</span> <span class="nd">media-breakpoint-only</span><span class="p">(</span><span
            class="n">xl</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span></code></pre>
        </figure>
        <p>Также, @media могут занимать несколько значений ширин брейкпойнта:</p>
        <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Пример
// Здесь стили применятся от средних девайсов до XL-девайсов
</span><span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span
          class="o">:</span> <span class="m">768px</span><span class="p">)</span> <span class="nf">and</span> <span
          class="p">(</span><span class="n">max-width</span><span class="o">:</span> <span
          class="m">1199.99px</span><span class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
          class="p">}</span></code></pre>
        </figure>
        <p>Миксины Sass для захвата таких же параметров (выше) выглядели бы так:</p>
        <figure class="highlight">
          <pre><code class="language-scss" data-lang="scss"><span class="k">@include</span> <span class="nd">media-breakpoint-between</span><span
            class="p">(</span><span class="n">md</span><span class="o">,</span> <span class="n">xl</span><span
            class="p">)</span> <span class="p">{</span> <span class="nc">...</span> <span
            class="p">}</span></code></pre>
        </figure>
      </div>
      <div id="grid">
        <h2>Система сеток</h2>
        <p>
          Мощная система гибких сеток, предоставляет большие преимущества для пользователей в первую очередь мобильных
          устройств,
          для удобной верстки и расположения элементов любых видов и размеров, которая работает благодаря системе «12
          колонок»,
          5-ти адаптивных ярусов, препроцессоров Sass и десятков предустановленных классов.
        </p>
        <p>
          Система сеток Bootstrap 4 использует контейнеры, ряды и колонки, чтобы удобно располагать содержимое.
          Бутстрап реализован с помощью флексбокса и полностью адаптивен.
          Ниже приведен пример и глубокий взгляд на объединение сетки.
        </p>
        <div class="bd-example-row">
          <div class="bd-example">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  Одна из трёх колонок
                </div>
                <div class="col-sm">
                  Одна из трёх колонок
                </div>
                <div class="col-sm">
                  Одна из трёх колонок
                </div>
              </div>
            </div>
          </div>
          <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
            class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span
              class="nt">&gt;</span>
      Одна из трёх колонок
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span
              class="nt">&gt;</span>
      Одна из трёх колонок
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm"</span><span
              class="nt">&gt;</span>
      Одна из трёх колонок
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
          </div>

        </div>
        <div class="embed-responsive embed-responsive-21by9">
          <video controls>
            <source src="./assets/bootstrap/bootstrap-grid.mp4" type="video/mp4">
            <source src="./assets/bootstrap/bootstrap-grid.webm" type="video/webm">
          </video>
        </div>
      </div>
      <div id="grid-options">
        <h2>Параметры сеток</h2>
        <p>
          Бутстрап использует <code class="highlighter-rouge">em</code> и <code class="highlighter-rouge">rem</code> для
          задания большинства размеров,
          а пиксели <code class="highlighter-rouge">px</code> – для «брейкпойнтов» сетки и ширин контейнеров.
          Это происходит потому, что ширина зоны видимости на каждом устройстве измеряется в пикселях и не изменяется с
          размером шрифта.
        </p>
        <p>Посмотрим, как действуют некоторые аспекты системы сеток Bootstrap на разных «ручных» устройствах.</p>
        <table class="table table-bordered table-striped table-responsive">
          <thead>
          <tr>
            <th></th>
            <th class="text-center"><img src="./assets/bootstrap/extra_small.png" class="img-fluid"
                                         alt="Extra small"><br>
              Extra small<br>
              <small>&lt;576px</small>
            </th>
            <th class="text-center"><img src="./assets/bootstrap/small.png" class="img-fluid" alt="Small"><br>
              Small<br>
              <small>≥576px</small>
            </th>
            <th class="text-center"><img src="./assets/bootstrap/medium.png" class="img-fluid" alt="Medium"><br>
              Medium<br>
              <small>≥768px</small>
            </th>
            <th class="text-center"><img src="./assets/bootstrap/large.png" class="img-fluid" alt="large"><br>
              Large<br>
              <small>≥992px</small>
            </th>
            <th class="text-center"><img src="./assets/bootstrap/extra_large.png" class="img-fluid"
                                         alt="Extra large"><br>
              Extra large<br>
              <small>≥1200px</small>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th class="text-nowrap" scope="row">Максимальная<br>ширина контейнера</th>
            <td>None (auto)</td>
            <td>540px</td>
            <td>720px</td>
            <td>960px</td>
            <td>1140px</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Префикс класса</th>
            <td><code>.col-</code></td>
            <td><code>.col-sm-</code></td>
            <td><code>.col-md-</code></td>
            <td><code>.col-lg-</code></td>
            <td><code>.col-xl-</code></td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Число колонок</th>
            <td colspan="5">12</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Ширина отступа</th>
            <td colspan="5">30px (15px с каждой стороны столбца)</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Может быть вложенным</th>
            <td colspan="5">Да</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Упорядочивание колонок</th>
            <td colspan="5">Да</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="auto-layout-columns">
        <h2>Автоматическое расположение с помощью колонок</h2>
        <p>Классы колонок со специальными точками брейкпойнта (например, <code
          class="highlighter-rouge">.col-sm-6</code>) используются для легкого расположения колонок без использования
          явно обозначенных номеров классов.</p>
      </div>
      <div id="equal-width">
        <h3>Равная ширина</h3>
        <p>Например, здесь мы видим две сетки, которые подойдут к любому устройству и зоне видимости, от <code
          class="highlighter-rouge">xs</code> до <code class="highlighter-rouge">xl</code>. Добавляйте любое количество
          простых классов для каждого брейкпойнта, и каждая колонка будет одинаковой ширины.</p>
        <div class="bd-example-row">

          <div class="bd-example" data-example-id="">
            <div class="container">
              <div class="row">
                <div class="col">
                  1 из 2
                </div>
                <div class="col">
                  2 из 2
                </div>
              </div>
              <div class="row">
                <div class="col">
                  1 из 3
                </div>
                <div class="col">
                  2 из 3
                </div>
                <div class="col">
                  3 из 3
                </div>
              </div>
            </div>
          </div>
          <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
            class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      1 из 2
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      2 из 2
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      1 из 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      2 из 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      3 из 3
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
          </div>

        </div>
      </div>
      <div id="setting-one-column-width">
        <h3>Установка ширины одной колонки</h3>
        <p>Авто-расположение колонок в сетке флексбокса также дает возможность установить ширину одной колонки, при этом
          остальные «родственные» колонки автоматически изменят свой размер вокруг нее. Вы можете использовать
          предустановленные классы сеток (как показано внизу), миксины или инлайн-ширину. Заметим, что другие колонки
          будут изменять размер независимо от ширины центральной колонки.</p>
        <div class="bd-example-row">

          <div class="bd-example" data-example-id="">
            <div class="container">
              <div class="row">
                <div class="col">
                  1 из 3
                </div>
                <div class="col-6">
                  2 из 3 (широкая)
                </div>
                <div class="col">
                  3 из 3
                </div>
              </div>
              <div class="row">
                <div class="col">
                  1 из 3
                </div>
                <div class="col-5">
                  2 из 3 (широкая)
                </div>
                <div class="col">
                  3 из 3
                </div>
              </div>
            </div>
          </div>
          <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
            class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      1 из 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-6"</span><span
              class="nt">&gt;</span>
      2 из 3 (широкая)
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      3 из 3
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      1 из 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-5"</span><span
              class="nt">&gt;</span>
      2 из 3 (широкая)
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      3 из 3
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
          </div>

        </div>
      </div>
      <div id="variable-width-content">
        <h3>Содержимое адаптивной ширины</h3>
        <p>Используйте классы <code class="highlighter-rouge">col-{breakpoint}-auto</code> для создания колонок,
          изменяющих свою ширину по ширине содержимого.</p>
        <div class="bd-example-row">

          <div class="bd-example" data-example-id="">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                  1 из 3
                </div>
                <div class="col-md-auto">
                  Содержимое адаптивной ширины
                </div>
                <div class="col col-lg-2">
                  3 из 3
                </div>
              </div>
              <div class="row">
                <div class="col">
                  1 из 3
                </div>
                <div class="col-md-auto">
                  Содержимое адаптивной ширины
                </div>
                <div class="col col-lg-2">
                  3 из 3
                </div>
              </div>
            </div>
          </div>
          <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
            class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"row justify-content-md-center"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col col-lg-2"</span><span class="nt">&gt;</span>
      1 из 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-auto"</span><span class="nt">&gt;</span>
      Содержимое адаптивной ширины
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col col-lg-2"</span><span class="nt">&gt;</span>
      3 из 3
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col"</span><span
              class="nt">&gt;</span>
      1 из 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-auto"</span><span class="nt">&gt;</span>
      Содержимое адаптивной ширины
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col col-lg-2"</span><span class="nt">&gt;</span>
      3 из 3
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
          </div>

        </div>
      </div>
    </main>
  </div>
</template>

<script>
  export default {
    name: "bootstrap"
  }
</script>

<style lang="scss">
  #bootstrap {

    // Local docs variables
    $bd-purple: #563d7c !default;
    $bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
    $bd-purple-light: lighten(saturate($bd-purple, 5%), 45%) !default;
    $bd-dark: #2a2730 !default;
    $bd-download: #ffe484 !default;
    $bd-info: #5bc0de !default;
    $bd-warning: #f0ad4e !default;
    $bd-danger: #d9534f !default;

    // Grid columns
    //
    // Set the number of columns and specify the width of the gutters.

    $grid-columns: 12 !default;
    $grid-gutter-width: 30px !default;

    $blue: #007bff !default;
    $indigo: #6610f2 !default;
    $purple: #6f42c1 !default;
    $pink: #e83e8c !default;
    $red: #dc3545 !default;
    $orange: #fd7e14 !default;
    $yellow: #ffc107 !default;
    $green: #28a745 !default;
    $teal: #20c997 !default;
    $cyan: #17a2b8 !default;

    // stylelint-disable
    $white: #fff !default;
    $gray-100: #f8f9fa !default;
    $gray-200: #e9ecef !default;
    $gray-300: #dee2e6 !default;
    $gray-400: #ced4da !default;
    $gray-500: #adb5bd !default;
    $gray-600: #868e96 !default;
    $gray-700: #495057 !default;
    $gray-800: #343a40 !default;
    $gray-900: #212529 !default;
    $black: #000 !default;

    // Grid containers
    //
    // Define the maximum width of `.container` for different screen sizes.

    $container-max-widths: (
      sm: 540px,
      md: 720px,
      lg: 960px,
      xl: 1140px
    ) !default;

    // Grid breakpoints
    //
    // Define the minimum dimensions at which your layout will change,
    // adapting to different screen sizes, for use in media queries.

    $grid-breakpoints: (
      xs: 0,
      sm: 576px,
      md: 768px,
      lg: 992px,
      xl: 1200px
    ) !default;

    // Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
    // Makes the @content apply to the given breakpoint and wider.
    @mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
      $min: breakpoint-min($name, $breakpoints);
      @if $min {
        @media (min-width: $min) {
          @content;
        }
      } @else {
        @content;
      }
    }

    @mixin clearfix() {
      &::after {
        display: block;
        clear: both;
        content: "";
      }
    }

    /// Grid system
    //
    // Generate semantic grid columns with these mixins.

    @mixin make-container() {
      width: 100%;
      padding-right: ($grid-gutter-width / 2);
      padding-left: ($grid-gutter-width / 2);
      margin-right: auto;
      margin-left: auto;
    }

    // For each breakpoint, define the maximum width of the container in a media query
    @mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
      @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
          max-width: $container-max-width;
        }
      }
    }

    @mixin make-row() {
      display: flex;
      flex-wrap: wrap;
      margin-right: ($grid-gutter-width / -2);
      margin-left: ($grid-gutter-width / -2);
    }

    @mixin make-col-ready() {
      position: relative;
      // Prevent columns from becoming too narrow when at smaller grid tiers by
      // always setting `width: 100%;`. This works because we use `flex` values
      // later on to override this initial width.
      width: 100%;
      min-height: 1px; // Prevent collapsing
      padding-right: ($grid-gutter-width / 2);
      padding-left: ($grid-gutter-width / 2);
    }

    @mixin make-col($size, $columns: $grid-columns) {
      flex: 0 0 percentage($size / $columns);
      // Add a `max-width` to ensure content within each column does not blow out
      // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
      // do not appear to require this.
      max-width: percentage($size / $columns);
    }

    @mixin make-col-offset($size, $columns: $grid-columns) {
      $num: $size / $columns;
      margin-left: if($num == 0, 0, percentage($num));
    }

    //
    // Grid examples
    //

    .bd-example-row {
      .row {
        > .col,
        > [class^="col-"] {
          padding-top: .75rem;
          padding-bottom: .75rem;
          background-color: rgba(86, 61, 124, .15);
          border: 1px solid rgba(86, 61, 124, .2);
        }
      }

      .row + .row {
        margin-top: 1rem;
      }

      .flex-items-top,
      .flex-items-middle,
      .flex-items-bottom {
        min-height: 6rem;
        background-color: rgba(255, 0, 0, .1);
      }
    }

    .bd-example-row-flex-cols .row {
      min-height: 10rem;
      background-color: rgba(255, 0, 0, .1);
    }

    .bd-highlight {
      background-color: rgba($bd-purple, .15);
      border: 1px solid rgba($bd-purple, .15);
    }

    // Grid mixins
    .example-container {
      width: 800px;
      @include make-container();
    }

    .example-row {
      @include make-row();
    }

    .example-content-main {
      @include make-col-ready();

      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(8);
      }
    }

    .example-content-secondary {
      @include make-col-ready();

      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(4);
      }
    }

    //
    // Container illustrations
    //

    .bd-example-container {
      min-width: 16rem;
      max-width: 25rem;
      margin-right: auto;
      margin-left: auto;
    }

    .bd-example-container-header {
      height: 3rem;
      margin-bottom: .5rem;
      background-color: lighten($blue, 50%);
      border-radius: .25rem;
    }

    .bd-example-container-sidebar {
      float: right;
      width: 4rem;
      height: 8rem;
      background-color: lighten($blue, 25%);
      border-radius: .25rem;
    }

    .bd-example-container-body {
      height: 8rem;
      margin-right: 4.5rem;
      background-color: lighten($bd-purple, 25%);
      border-radius: .25rem;
    }

    .bd-example-container-fluid {
      max-width: none;
    }

    //
    // Docs examples
    //

    .bd-example {
      position: relative;
      padding: 1rem;
      margin: 1rem (-$grid-gutter-width / 2);
      border: solid #f7f7f9;
      border-width: .2rem 0 0;
      @include clearfix();

      @include media-breakpoint-up(sm) {
        padding: 1.5rem;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        border-width: .2rem;
      }

      + .highlight,
      + .clipboard + .highlight {
        margin-top: 0;
      }

      + p {
        margin-top: 2rem;
      }

      .pos-f-t {
        position: relative;
        margin: -1rem;

        @include media-breakpoint-up(sm) {
          margin: -1.5rem;
        }
      }

      > .form-control {
        + .form-control {
          margin-top: .5rem;
        }
      }

      > .nav + .nav,
      > .alert + .alert,
      > .navbar + .navbar,
      > .progress + .progress,
      > .progress + .btn {
        margin-top: 1rem;
      }

      > .dropdown-menu:first-child {
        position: static;
        display: block;
      }

      > .form-group:last-child {
        margin-bottom: 0;
      }

      > .close {
        float: none;
      }
    }

    // Typography
    .bd-example-type {
      .table {
        .type-info {
          color: #999;
          vertical-align: middle;
        }
        td {
          padding: 1rem 0;
          border-color: #eee;
        }
        tr:first-child td {
          border-top: 0;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    // Contextual background colors
    .bd-example-bg-classes p {
      padding: 1rem;
    }

    // Images
    .bd-example > img {
      + img {
        margin-left: .5rem;
      }
    }

    // Buttons
    .bd-example {
      > .btn-group {
        margin-top: .25rem;
        margin-bottom: .25rem;
      }
      > .btn-toolbar + .btn-toolbar {
        margin-top: .5rem;
      }
    }

    // Forms
    .bd-example-control-sizing select,
    .bd-example-control-sizing input[type="text"] + input[type="text"] {
      margin-top: .5rem;
    }
    .bd-example-form .input-group {
      margin-bottom: .5rem;
    }
    .bd-example > textarea.form-control {
      resize: vertical;
    }

    // List groups
    .bd-example > .list-group {
      max-width: 400px;
    }

    // Navbars
    .bd-example {
      .fixed-top,
      .sticky-top {
        position: static;
        margin: -1rem -1rem 1rem;
      }
      .fixed-bottom {
        position: static;
        margin: 1rem -1rem -1rem;
      }

      @include media-breakpoint-up(sm) {
        .fixed-top,
        .sticky-top {
          margin: -1.5rem -1.5rem 1rem;
        }
        .fixed-bottom {
          margin: 1rem -1.5rem -1.5rem;
        }
      }
    }

    // Pagination
    .bd-example .pagination {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }

    // Example modals
    .modal {
      z-index: 1072;

      .tooltip,
      .popover {
        z-index: 1073;
      }
    }

    .modal-backdrop {
      z-index: 1071;
    }

    .bd-example-modal {
      background-color: #fafafa;

      .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
      }

      .modal-dialog {
        left: auto;
        margin-right: auto;
        margin-left: auto;
      }
    }

    // Example tabbable tabs
    .bd-example-tabs .nav-tabs {
      margin-bottom: 1rem;
    }

    // Popovers
    .bd-example-popover-static {
      padding-bottom: 1.5rem;
      background-color: #f9f9f9;

      .popover {
        position: relative;
        display: block;
        float: left;
        width: 260px;
        margin: 1.25rem;
      }
    }

    // Tooltips
    .tooltip-demo a {
      white-space: nowrap;
    }

    .bd-example-tooltip-static .tooltip {
      position: relative;
      display: inline-block;
      margin: 10px 20px;
      opacity: 1;
    }

    // Scrollspy demo on fixed height div
    .scrollspy-example {
      position: relative;
      height: 200px;
      margin-top: .5rem;
      overflow: auto;
    }

    .scrollspy-example-2 {
      position: relative;
      height: 350px;
      overflow: auto;
    }

    .bd-example-border-utils {
      [class^="border"] {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin: .25rem;
        background-color: #f5f5f5;
        border: 1px solid;
      }
    }

    //
    // Code snippets
    //

    // stylelint-disable declaration-block-single-line-max-declarations

    .hll {
      background-color: #ffc;
    }
    .c {
      color: #999;
    }
    .k {
      color: #069;
    }
    .o {
      color: #555;
    }
    .cm {
      color: #999;
    }
    .cp {
      color: #099;
    }
    .c1 {
      color: #999;
    }
    .cs {
      color: #999;
    }
    .gd {
      background-color: #fcc;
      border: 1px solid #c00;
    }
    .ge {
      font-style: italic;
    }
    .gr {
      color: #f00;
    }
    .gh {
      color: #030;
    }
    .gi {
      background-color: #cfc;
      border: 1px solid #0c0;
    }
    .go {
      color: #aaa;
    }
    .gp {
      color: #009;
    }
    .gu {
      color: #030;
    }
    .gt {
      color: #9c6;
    }
    .kc {
      color: #069;
    }
    .kd {
      color: #069;
    }
    .kn {
      color: #069;
    }
    .kp {
      color: #069;
    }
    .kr {
      color: #069;
    }
    .kt {
      color: #078;
    }
    .m {
      color: #f60;
    }
    .s {
      color: #d44950;
    }
    .na {
      color: #4f9fcf;
    }
    .nb {
      color: #366;
    }
    .nc {
      color: #0a8;
    }
    .no {
      color: #360;
    }
    .nd {
      color: #99f;
    }
    .ni {
      color: #999;
    }
    .ne {
      color: #c00;
    }
    .nf {
      color: #c0f;
    }
    .nl {
      color: #99f;
    }
    .nn {
      color: #0cf;
    }
    .nt {
      color: #2f6f9f;
    }
    .nv {
      color: #033;
    }
    .ow {
      color: #000;
    }
    .w {
      color: #bbb;
    }
    .mf {
      color: #f60;
    }
    .mh {
      color: #f60;
    }
    .mi {
      color: #f60;
    }
    .mo {
      color: #f60;
    }
    .sb {
      color: #c30;
    }
    .sc {
      color: #c30;
    }
    .sd {
      font-style: italic;
      color: #c30;
    }
    .s2 {
      color: #c30;
    }
    .se {
      color: #c30;
    }
    .sh {
      color: #c30;
    }
    .si {
      color: #a00;
    }
    .sx {
      color: #c30;
    }
    .sr {
      color: #3aa;
    }
    .s1 {
      color: #c30;
    }
    .ss {
      color: #fc3;
    }
    .bp {
      color: #366;
    }
    .vc {
      color: #033;
    }
    .vg {
      color: #033;
    }
    .vi {
      color: #033;
    }
    .il {
      color: #f60;
    }

    .css .o,
    .css .o + .nt,
    .css .nt + .nt {
      color: #999;
    }

    .language-bash::before,
    .language-sh::before {
      color: #009;
      content: "$ ";
      user-select: none;
    }

    .language-powershell::before {
      color: #009;
      content: "PM> ";
      user-select: none;
    }

    .highlight {
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: #f7f7f9;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      @include media-breakpoint-up(sm) {
        padding: 1.5rem;
      }
    }

    .bd-content .highlight {
      margin-right: (-$grid-gutter-width / 2);
      margin-left: (-$grid-gutter-width / 2);

      @include media-breakpoint-up(sm) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .highlight {
      pre {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
      }
      pre code {
        font-size: inherit;
        color: $gray-900; // Effectively the base text color
      }
    }

    .bd-content>div:not(:first-child) {
      padding-top: 3.5rem;
    }

  }
</style>
