<template>
  <div id="bulma">
    <nav id="navbar" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox"
                 width="112" height="28">
          </a>
          <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenuDocumentation" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="index.html">Главная</a>
            <a class="navbar-item" href="bootstrap.html">Bootstrap</a>
            <a class="navbar-item" href="skeleton.html">Skeleton</a>
            <a class="navbar-item is-active" href="bulma.html">Bulma</a>
            <a class="navbar-item" href="semantic-ui.html">Semantic UI</a>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar has-shadow" style="margin-top: 52px;">
      <div class="container">
        <div class="navbar-tabs">
          <a class="navbar-item is-tab" href="#columns">
            Колонки
          </a>
          <a class="navbar-item is-tab" href="#column-sizes">
            Размеры колонок
          </a>
          <a class="navbar-item is-tab" href="#cards">
            Карточки
          </a>
        </div>
      </div>
    </nav>
    <section class="section" id="columns">
      <div class="container">
        <h1 class="title">Колонки</h1>
        <h2 class="subtitle">A simple way to build <strong>responsive columns</strong></h2>
        <hr>
        <div class="content">
          <p>Building a <strong>columns layout</strong> with Bulma is very simple:</p>
          <ol>
            <li>Add a <code>columns</code> container</li>
            <li>Add as many <code>column</code> elements as you want</li>
          </ol>
          <p>Each column will have an <strong>equal width</strong>, no matter the number of columns.</p>
        </div>

        <div class="columns">
          <div class="column">
            <p class="bd-notification is-info">First column</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Second column</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Third column</p>
          </div>
          <div class="column">
            <p class="bd-notification is-danger">Fourth column</p>
          </div>
        </div>

        <div class="highlight-full">
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
              class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">    First column<br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">    Second column<br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">    Third column<br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">    Fourth column<br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span></code></pre>
          </figure>
        </div>
      </div>
    </section>
    <section class="section" id="column-sizes">
      <div class="container">
        <h1 class="title">Размеры колонок</h1>
        <h2 class="subtitle">
          Define the <strong>size</strong> of each column <strong>individually</strong>
        </h2>

        <hr>

        <div class="content">
          <p>If you want to change the <strong>size</strong> of a single column, you can use one of the following
            classes:</p>
          <ul>
            <li>
              <code>is-three-quarters</code>
            </li>
            <li>
              <code>is-two-thirds</code>
            </li>
            <li>
              <code>is-half</code>
            </li>
            <li>
              <code>is-one-third</code>
            </li>
            <li>
              <code>is-one-quarter</code>
            </li>
          </ul>
          <p>The <em>other</em> columns will fill up the <strong>remaining</strong> space automatically.</p>
        </div>

        <div class="tags has-addons">
          <span class="tag">New!</span>
          <span class="tag is-info">0.6.1</span>
        </div>

        <div class="content">
          <p>You can now use the following multiples of <code>20%</code> as well:</p>
          <ul>
            <li>
              <code>is-four-fifths</code>
            </li>
            <li>
              <code>is-three-fifths</code>
            </li>
            <li>
              <code>is-two-fifths</code>
            </li>
            <li>
              <code>is-one-fifth</code>
            </li>
          </ul>
        </div>

        <div class="columns">
          <div class="column is-four-fifths">
            <p class="bd-notification is-info">
              <code class="html">is-four-fifths</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-three-quarters">
            <p class="bd-notification is-info">
              <code class="html">is-three-quarters</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-two-thirds">
            <p class="bd-notification is-info">
              <code class="html">is-two-thirds</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-three-fifths">
            <p class="bd-notification is-info">
              <code class="html">is-three-fifths</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-half">
            <p class="bd-notification is-info">
              <code class="html">is-half</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-two-fifths">
            <p class="bd-notification is-info">
              <code class="html">is-two-fifths</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-third">
            <p class="bd-notification is-info">
              <code class="html">is-one-third</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <p class="bd-notification is-info">
              <code class="html">is-one-quarter</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <p class="bd-notification is-info">
              <code class="html">is-one-fifth</code>
            </p>
          </div>
          <div class="column">
            <p class="bd-notification is-success">Auto</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning">Auto</p>
          </div>
        </div>

        <div class="highlight-full">
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
              class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-four-fifths"</span><span class="nt">&gt;</span>is-four-fifths<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-three-quarters"</span><span class="nt">&gt;</span>is-three-quarters<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-two-thirds"</span><span class="nt">&gt;</span>is-two-thirds<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-three-fifths"</span><span class="nt">&gt;</span>is-three-fifths<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-half"</span><span class="nt">&gt;</span>is-half<span
              class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages="">  <span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"column"</span><span class="nt">&gt;</span>Auto<span
              class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages="">  <span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"column"</span><span class="nt">&gt;</span>Auto<span
              class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-two-fifths"</span><span class="nt">&gt;</span>is-two-fifths<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-one-third"</span><span class="nt">&gt;</span>is-one-third<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-one-quarter"</span><span class="nt">&gt;</span>is-one-quarter<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-one-fifth"</span><span class="nt">&gt;</span>is-one-fifth<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column"</span><span class="nt">&gt;</span>Auto<span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span></code></pre>

          </figure>
        </div>

        <hr style="margin-bottom: 0;">

        <h3 id="12-columns-system" class="title is-4 is-spaced bd-anchor-title">
          12 columns system
          <a class="bd-anchor-link" href="#12-columns-system">
            #
          </a>
        </h3>


        <div class="content">
          <p>As the grid can be divided into <strong>12</strong> columns, there are size classes for each division:</p>
          <ul>
            <li><code>is-2</code></li>
            <li><code>is-3</code></li>
            <li><code>is-4</code></li>
            <li><code>is-5</code></li>
            <li><code>is-6</code></li>
            <li><code>is-7</code></li>
            <li><code>is-8</code></li>
            <li><code>is-9</code></li>
            <li><code>is-10</code></li>
            <li><code>is-11</code></li>
          </ul>
        </div>

        <div class="message is-info">
          <p class="message-header">Naming convention</p>
          <p class="message-body">Each modifier class is named after <strong>how many columns you want out of
            12</strong>. So if you want 7 columns out of 12, use <code>is-7</code>.</p>
        </div>

        <div class="columns">
          <div class="column is-2">
            <p class="bd-notification is-info"><code>is-2</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-3">
            <p class="bd-notification is-info"><code>is-3</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4">
            <p class="bd-notification is-info"><code>is-4</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-5">
            <p class="bd-notification is-info"><code>is-5</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <p class="bd-notification is-info"><code>is-6</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-7">
            <p class="bd-notification is-info"><code>is-7</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-8">
            <p class="bd-notification is-info"><code>is-8</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-9">
            <p class="bd-notification is-info"><code>is-9</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-10">
            <p class="bd-notification is-info"><code>is-10</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
          <div class="column">
            <p class="bd-notification is-warning has-text-centered">1</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-11">
            <p class="bd-notification is-info"><code>is-11</code></p>
          </div>
          <div class="column">
            <p class="bd-notification is-success has-text-centered">1</p>
          </div>
        </div>

        <hr style="margin-bottom: 0;">

        <h3 id="offset" class="title is-4 is-spaced bd-anchor-title">
          Offset
          <a class="bd-anchor-link" href="#offset">
            #
          </a>
        </h3>


        <div class="content">
          <p>
            While you can use <em>empty columns</em> (like <code>&lt;div class="column"&gt;&lt;/div&gt;</code>) to
            create horizontal space around <code>.column</code> elements, you can also use <strong>offset</strong>
            modifiers like <code>.is-offset-x</code>:
          </p>
        </div>

        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <p class="bd-notification is-info">
              <code class="html">is-half</code><br>
              <code class="html">is-offset-one-quarter</code>
            </p>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-three-fifths is-offset-one-fifth">
            <p class="bd-notification is-info">
              <code class="html">is-three-fifths</code><br>
              <code class="html">is-offset-one-fifth</code>
            </p>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-4 is-offset-8">
            <p class="bd-notification is-info">
              <code class="html">is-4</code><br>
              <code class="html">is-offset-8</code>
            </p>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-11 is-offset-1">
            <p class="bd-notification is-info">
              <code class="html">is-11</code><br>
              <code class="html">is-offset-1</code>
            </p>
          </div>
        </div>

        <div class="highlight-full">
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
              class="na">class=</span><span class="s">"columns is-mobile"</span><span class="nt">&gt;</span><br
              data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
              class="s">"column is-half is-offset-one-quarter"</span><span class="nt">&gt;&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span><br
              data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns is-mobile"</span><span
              class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span
              class="na">class=</span><span class="s">"column is-three-fifths is-offset-one-fifth"</span><span
              class="nt">&gt;&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns is-mobile"</span><span
              class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span
              class="na">class=</span><span class="s">"column is-4 is-offset-8"</span><span
              class="nt">&gt;&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns is-mobile"</span><span
              class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span
              class="na">class=</span><span class="s">"column is-11 is-offset-1"</span><span
              class="nt">&gt;&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><span
              class="nt">&lt;/div&gt;</span></code></pre>
            <button class="button is-small bd-copy">Copy</button>
          </figure>
        </div>
      </div>
    </section>
    <section class="section" id="cards">
      <div class="container">
        <h1 class="title">Карточки</h1>
        <h2 class="subtitle">An all-around flexible and composable component</h2>
        <div id="meta" class="field is-grouped is-grouped-multiline">


          <div class="control">
            <div class="tags has-addons">
              <span class="tag">Colors</span>

              <span class="tag is-danger">No</span>

            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag">Sizes</span>

              <span class="tag is-danger">No</span>

            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag">Variables</span>

              <a class="tag is-success" href="#variables">Yes</a>

            </div>
          </div>
        </div>


        <hr>

        <div class="content">
          <p>The <strong>card</strong> component comprises several elements that you can mix and match:</p>
          <ul>
            <li>
              <code>card</code>: the main container
              <ul>
                <li>
                  <code>card-header</code>: a horizontal bar with a shadow
                  <ul>
                    <li>
                      <code>card-header-title</code>: a left-aligned bold text
                    </li>
                    <li>
                      <code>card-header-icon</code>: a placeholder for an icon
                    </li>
                  </ul>
                </li>
                <li>
                  <code>card-image</code>: a fullwidth container for a responsive image
                </li>
                <li>
                  <code>card-content</code>: a multi-purpose container for <em>any</em> other element
                </li>
                <li>
                  <code>card-footer</code>: a horizontal list of controls
                  <ul>
                    <li>
                      <code>card-footer-item</code>: a repeatable list item
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="tags has-addons">
          <span class="tag">New</span>
          <span class="tag is-info">0.5.3</span>
        </div>

        <div class="content">
          <p>
            You can center the <code>card-header-title</code> by appending the <code>is-centered</code> modifier.
          </p>
        </div>

        <hr>

        <div class="columns">
          <div class="column is-one-third">

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">John Smith</p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>

          </div>
          <div class="column highlight-full">
            <figure class="highlight">
              <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
                class="s">"card-image"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">    <span
                class="nt">&lt;figure</span> <span class="na">class=</span><span class="s">"image is-4by3"</span><span
                class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;img</span> <span
                class="na">src=</span><span class="s">"https://bulma.io/images/placeholders/1280x960.png"</span> <span
                class="na">alt=</span><span class="s">"Placeholder image"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;/figure&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/div&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
                class="s">"card-content"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"media"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"media-left"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">        <span class="nt">&lt;figure</span> <span
                class="na">class=</span><span class="s">"image is-48x48"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">          <span class="nt">&lt;img</span> <span class="na">src=</span><span
                class="s">"https://bulma.io/images/placeholders/96x96.png"</span> <span class="na">alt=</span><span
                class="s">"Placeholder image"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">        <span
                class="nt">&lt;/figure&gt;</span><br data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;/div&gt;</span><br
                data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"media-content"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">        <span class="nt">&lt;p</span> <span
                class="na">class=</span><span class="s">"title is-4"</span><span class="nt">&gt;</span>John Smith<span
                class="nt">&lt;/p&gt;</span><br data-jekyll-commonmark-ghpages="">        <span class="nt">&lt;p</span> <span
                class="na">class=</span><span class="s">"subtitle is-6"</span><span
                class="nt">&gt;</span>@johnsmith<span class="nt">&lt;/p&gt;</span><br data-jekyll-commonmark-ghpages="">      <span
                class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages="">    <span
                class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"content"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br
                data-jekyll-commonmark-ghpages="">      Phasellus nec iaculis mauris. <span class="nt">&lt;a&gt;</span>@bulmaio<span
                class="nt">&lt;/a&gt;</span>.<br data-jekyll-commonmark-ghpages="">      <span
                class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span
                class="nt">&gt;</span>#css<span class="nt">&lt;/a&gt;</span> <span class="nt">&lt;a</span> <span
                class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>#responsive<span
                class="nt">&lt;/a&gt;</span><br data-jekyll-commonmark-ghpages="">      <span
                class="nt">&lt;br&gt;</span><br data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;time</span> <span
                class="na">datetime=</span><span class="s">"2016-1-1"</span><span class="nt">&gt;</span>11:09 PM - 1 Jan 2016<span
                class="nt">&lt;/time&gt;</span><br data-jekyll-commonmark-ghpages="">    <span
                class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages="">  <span
                class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span></code></pre>
              <button class="button is-small bd-copy">Copy</button>
            </figure>
          </div>
        </div>

        <hr>

        <div class="columns">
          <div class="column is-one-third">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Component
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-fa-processed="" data-prefix="fas"
             data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path
          fill="currentColor"
          d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
        <!-- <i class="fas fa-angle-down" aria-hidden="true"></i> -->
      </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                  <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                  <br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
              </footer>
            </div>

          </div>
          <div class="column highlight-full">
            <figure class="highlight">
              <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;header</span> <span
                class="na">class=</span><span class="s">"card-header"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;p</span> <span class="na">class=</span><span
                class="s">"card-header-title"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">      Component<br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;/p&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;a</span> <span class="na">href=</span><span
                class="s">"#"</span> <span class="na">class=</span><span class="s">"card-header-icon"</span> <span
                class="na">aria-label=</span><span class="s">"more options"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;span</span> <span
                class="na">class=</span><span class="s">"icon"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">        <span class="nt">&lt;i</span> <span
                class="na">class=</span><span class="s">"fas fa-angle-down"</span> <span
                class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span><br
                data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;/span&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;/a&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/header&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
                class="s">"card-content"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"content"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.<br
                data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;a</span> <span class="na">href=</span><span
                class="s">"#"</span><span class="nt">&gt;</span>@bulmaio<span class="nt">&lt;/a&gt;</span>. <span
                class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span
                class="nt">&gt;</span>#css<span class="nt">&lt;/a&gt;</span> <span class="nt">&lt;a</span> <span
                class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>#responsive<span
                class="nt">&lt;/a&gt;</span><br data-jekyll-commonmark-ghpages="">      <span
                class="nt">&lt;br&gt;</span><br data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;time</span> <span
                class="na">datetime=</span><span class="s">"2016-1-1"</span><span class="nt">&gt;</span>11:09 PM - 1 Jan 2016<span
                class="nt">&lt;/time&gt;</span><br data-jekyll-commonmark-ghpages="">    <span
                class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages="">  <span
                class="nt">&lt;/div&gt;</span><br data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;footer</span> <span
                class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;a</span> <span class="na">href=</span><span
                class="s">"#"</span> <span class="na">class=</span><span class="s">"card-footer-item"</span><span
                class="nt">&gt;</span>Save<span class="nt">&lt;/a&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;a</span> <span class="na">href=</span><span
                class="s">"#"</span> <span class="na">class=</span><span class="s">"card-footer-item"</span><span
                class="nt">&gt;</span>Edit<span class="nt">&lt;/a&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;a</span> <span class="na">href=</span><span
                class="s">"#"</span> <span class="na">class=</span><span class="s">"card-footer-item"</span><span
                class="nt">&gt;</span>Delete<span class="nt">&lt;/a&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/footer&gt;</span><br
                data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span></code></pre>
              <button class="button is-small bd-copy">Copy</button>
            </figure>
          </div>
        </div>

        <hr>

        <div class="columns">
          <div class="column is-one-third">

            <div class="card">
              <div class="card-content">
                <p class="title">
                  “There are two hard things in computer science: cache invalidation, naming things, and off-by-one
                  errors.”
                </p>
                <p class="subtitle">
                  Jeff Atwood
                </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
      <span>
        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
                </p>
                <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
                </p>
              </footer>
            </div>

          </div>
          <div class="column highlight-full">
            <figure class="highlight">
              <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span
                class="na">class=</span><span class="s">"card"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;div</span> <span class="na">class=</span><span
                class="s">"card-content"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;p</span> <span class="na">class=</span><span
                class="s">"title"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">      “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”<br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;/p&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;p</span> <span class="na">class=</span><span
                class="s">"subtitle"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">      Jeff Atwood<br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;/p&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/div&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;footer</span> <span
                class="na">class=</span><span class="s">"card-footer"</span><span class="nt">&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;p</span> <span class="na">class=</span><span
                class="s">"card-footer-item"</span><span class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">      <span
                class="nt">&lt;span&gt;</span><br data-jekyll-commonmark-ghpages="">        View on <span class="nt">&lt;a</span> <span
                class="na">href=</span><span
                class="s">"https://twitter.com/codinghorror/status/506010907021828096"</span><span
                class="nt">&gt;</span>Twitter<span class="nt">&lt;/a&gt;</span><br data-jekyll-commonmark-ghpages="">      <span
                class="nt">&lt;/span&gt;</span><br data-jekyll-commonmark-ghpages="">    <span
                class="nt">&lt;/p&gt;</span><br data-jekyll-commonmark-ghpages="">    <span
                class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-footer-item"</span><span
                class="nt">&gt;</span><br data-jekyll-commonmark-ghpages="">      <span
                class="nt">&lt;span&gt;</span><br data-jekyll-commonmark-ghpages="">        Share on <span class="nt">&lt;a</span> <span
                class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Facebook<span class="nt">&lt;/a&gt;</span><br
                data-jekyll-commonmark-ghpages="">      <span class="nt">&lt;/span&gt;</span><br
                data-jekyll-commonmark-ghpages="">    <span class="nt">&lt;/p&gt;</span><br
                data-jekyll-commonmark-ghpages="">  <span class="nt">&lt;/footer&gt;</span><br
                data-jekyll-commonmark-ghpages=""><span class="nt">&lt;/div&gt;</span></code></pre>

            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: "bulma"
  }
</script>

<style scoped>

</style>
