<template>
  <div id="semantic-ui">
    <h1 class="ui center aligned header">Responsive UI Examples</h1>


    <h2 class="ui center aligned header">Basic Responsive</h2>


    <h3 class="ui center aligned header">Container</h3>
    <div class="ui container">
      <div class="ui segments">
        <div class="ui segment">Content</div>
        <div class="ui segment">Content</div>
        <div class="ui segment">Content</div>
        <div class="ui segment">Content</div>
      </div>
    </div>
    <h3 class="ui center aligned header">Text Container</h3>
    <div class="ui text container">
      <div class="ui segments">
        <div class="ui segment">Content</div>
        <div class="ui segment">Content</div>
        <div class="ui segment">Content</div>
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h3 class="ui center aligned header">Stackable Grid</h3>
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="three column row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
      <div class="ten wide column">
        <div class="ui segment">Content</div>
      </div>
      <div class="six wide column">
        <div class="ui segment">Content</div>
      </div>
    </div>


    <h3 class="ui center aligned header">Doubling Grid</h3>
    <div class="ui three column doubling grid">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h3 class="ui center aligned header">Doubling Stackable Grid</h3>
    <div class="ui three column doubling stackable grid">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h3 class="ui center aligned header">Nested Stackable Grid</h3>
    <div class="ui two column grid">
      <div class="column">
        <div class="ui stackable doubling two column grid">
          <div class="column">
            <div class="ui segment">Content</div>
          </div>
          <div class="column">
            <div class="ui segment">Content</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui stackable doubling three column grid">
          <div class="column">
            <div class="ui segment">Content</div>
          </div>
          <div class="column">
            <div class="ui segment">Content</div>
          </div>
          <div class="column">
            <div class="ui segment">Content</div>
          </div>
        </div>
      </div>
    </div>


    <h3 class="ui center aligned header">Stackable Grid Container</h3>
    <div class="ui two column stackable grid container">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>


    <h3 class="ui center aligned header">Doubling Grid Container</h3>
    <div class="ui three column doubling grid container">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h3 class="ui center aligned header">Doubling Stackable Grid Container</h3>
    <div class="ui three column doubling stackable grid container">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h2 class="ui center aligned header">Device Adjustment</h2>

    <h3 class="ui center aligned header">Device Column Width</h3>
    <div class="ui grid">
      <div class="three wide computer nine wide tablet six wide mobile column">
        <div class="ui segment">Content</div>
      </div>
      <div class="four wide column">
        <div class="ui segment">Content</div>
      </div>
      <div class="nine wide computer three wide tablet six wide mobile column">
        <div class="ui segment">Content</div>
      </div>
      <div class="nine wide computer three wide tablet six wide mobile column">
        <div class="ui segment">Content</div>
      </div>
      <div class="four wide column">
        <div class="ui segment">Content</div>
      </div>
      <div class="three wide computer nine wide tablet six wide mobile column">
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h3 class="ui center aligned header">Device Visibility</h3>
    <div class="ui four column grid">
      <div class="widescreen only ten wide column">
        <div class="ui segment">Widescreen</div>
      </div>
      <div class="widescreen only six wide column">
        <div class="ui segment">Widescreen</div>
      </div>
      <div class="large screen only six wide column">
        <div class="ui segment">Large Screen</div>
      </div>
      <div class="large screen only ten wide column">
        <div class="ui segment">Large Screen</div>
      </div>
      <div class="tablet only mobile only eight wide column">
        <div class="ui segment">Tablet and Mobile</div>
      </div>
      <div class="tablet only mobile only eight wide column">
        <div class="ui segment">Tablet and Mobile</div>
      </div>
      <div class="mobile only sixteen wide column">
        <div class="ui segment">Mobile</div>
      </div>
      <div class="computer only two column row">
        <div class="column">
          <div class="ui segment">Computer and Up</div>
        </div>
        <div class="column">
          <div class="ui segment">Computer and Up</div>
        </div>
      </div>
      <div class="tablet only column">
        <div class="ui segment">Tablet Only Content</div>
      </div>
      <div class="tablet only column">
        <div class="ui segment">Tablet Only Content</div>
      </div>
      <div class="tablet only column">
        <div class="ui segment">Tablet Only Content</div>
      </div>
      <div class="tablet only column">
        <div class="ui segment">Tablet Only Content</div>
      </div>
    </div>


    <h2 class="ui center aligned header">Responsive Grid with Variations</h2>

    <h3 class="ui center aligned header">Stackable Divided Grid</h3>
    <div class="ui stackable two column divided grid container">
      <div class="row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
    </div>

    <h3 class="ui center aligned header">Stackable Vertically Divided Grid</h3>
    <div class="ui stackable two column vertically divided grid container">
      <div class="row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
    </div>

    <h3 class="ui center aligned header">Celled Stackable Grid</h3>
    <div class="ui stackable celled grid container">
      <div class="two column row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
      <div class="three column row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
      <div class="two column row">
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
        <div class="column">
          <div class="ui segment">Content</div>
        </div>
      </div>
    </div>
    <h3 class="ui center aligned header">Consecutive Doubling Stackable Grid</h3>
    <div class="doubling stackable three column ui grid container">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>
    <div class="doubling stackable three column ui grid container">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h3 class="ui center aligned header">Grid Container</h3>
    <div class="ui three column grid container">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>

    <h1 class="ui center aligned header">Responsive Elements</h1>


    <h3 class="ui center aligned header">Responsive Vertical Divider</h3>

    <div class="ui stackable two column very relaxed grid container" style="position:relative;">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>


    <h3 class="ui center aligned header">Responsive Table</h3>

    <div class="ui container">
      <table class="ui celled table">
        <thead>
        <th>Employee</th>
        <th>Correct Guesses</th>
        </thead>
        <tbody>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
              <div class="content">
                Lena
                <div class="sub header">Human Resources
                </div>
              </div>
          </td>
          <td>
            22
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
              <div class="content">
                Matthew
                <div class="sub header">Fabric Design
                </div>
              </div>
          </td>
          <td>
            15
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
              <div class="content">
                Lindsay
                <div class="sub header">Entertainment
                </div>
              </div>
          </td>
          <td>
            12
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="assets/images/wireframe/square-image.png" class="ui mini rounded image">
              <div class="content">
                Mark
                <div class="sub header">Executive
                </div>
              </div>
          </td>
          <td>
            11
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    name: "semantic-ui"
  }
</script>

<style lang="scss">
  #semantic-ui {
    .last.container {
      margin-bottom: 300px !important;
    }
    h1.ui.center.header {
      margin-top: 3em;
    }
    h2.ui.center.header {
      margin: 4em 0em 2em;
    }
    h3.ui.center.header {
      margin-top: 2em;
      padding: 2em 0em;
    }
  }
</style>
