<template>
  <div id="skeleton" class="container">
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="index.html">Главная</a></li>
          <li class="navbar-item"><a class="navbar-link" href="bootstrap.html">Bootstrap</a></li>
          <li class="navbar-item"><a class="navbar-link active" href="skeleton.html">Skeleton</a></li>
          <li class="navbar-item"><a class="navbar-link" href="bulma.html">Bulma</a></li>
          <li class="navbar-item"><a class="navbar-link" href="semantic-ui.html">Semantic UI</a></li>
        </ul>
      </div>
    </nav>
    <div class="docs-section" id="grid">
      <h6 class="docs-header">Система сеток</h6>
      <p>
        Сетка представляет собой 12-колонную гибкую сетку с максимальной шириной 960px, которая сжимается в зависимости от размера браузера/устройства.
        Максимальная ширина может быть изменена с помощью одной строки CSS и все столбцы будут изменены соответствующим образом.
        Синтаксис прост и делает программирование адаптивного дизайна гораздо проще.
      </p>
      <div class="example-grid docs-example">
        <div class="row">
          <div class="one column">Одна</div>
          <div class="eleven columns">Одиннадцать</div>
        </div>
        <div class="row">
          <div class="two columns">Две</div>
          <div class="ten columns">Десять</div>
        </div>
        <div class="row">
          <div class="three columns">Три</div>
          <div class="nine columns">Девять</div>
        </div>
        <div class="row">
          <div class="four columns">Четыре</div>
          <div class="eight columns">Восемь</div>
        </div>
        <div class="row">
          <div class="five columns">Пять</div>
          <div class="seven columns">Семь</div>
        </div>
        <div class="row">
          <div class="six columns">Шесть</div>
          <div class="six columns">Шесть</div>
        </div>
        <div class="row">
          <div class="seven columns">Семь</div>
          <div class="five columns">Пять</div>
        </div>
        <div class="row">
          <div class="eight columns">Восемь</div>
          <div class="four  columns">Четыре</div>
        </div>
        <div class="row">
          <div class="nine columns">Девять</div>
          <div class="three columns">Три</div>
        </div>
        <div class="row">
          <div class="ten columns">Десять</div>
          <div class="two columns">Две</div>
        </div>
        <div class="row">
          <div class="eleven columns">Одиннадцать</div>
          <div class="one column">Одна</div>
        </div>
      </div>


      <!-- CODE EXAMPLE ———————————————————————————————————————— -->
      <pre class="code-example"><code class="code-example-body prettyprint">&lt;!-- .container is main centered wrapper --&gt;
&lt;div class="container"&gt;

  &lt;!-- columns should be the immediate child of a .row --&gt;
  &lt;div class="row"&gt;
    &lt;div class="one column"&gt;Одна&lt;/div&gt;
    &lt;div class="eleven columns"&gt;Одиннадцать&lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- just use a number and class 'column' or 'columns' --&gt;
  &lt;div class="row"&gt;
    &lt;div class="two columns"&gt;Две&lt;/div&gt;
    &lt;div class="ten columns"&gt;Десять&lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- there are a few shorthand columns widths as well --&gt;
  &lt;div class="row"&gt;
    &lt;div class="one-third column"&gt;1/3&lt;/div&gt;
    &lt;div class="two-thirds column"&gt;2/3&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
    &lt;div class="one-half column"&gt;1/2&lt;/div&gt;
    &lt;div class="one-half column"&gt;1/2&lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;

&lt;!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) --&gt;
</code>
</pre>
      <!-- ————————————————————————————————————————————————————— -->


    </div>
    <div class="docs-section" id="forms">
      <h6 class="docs-header">Формы</h6>
      <p>
        Формы огромная боль, но, надеюсь, эти стили сделать это немного легче.
        Все поля, выпадающие списки и кнопки изминяют свои размер в зависимости от размера браузера, что все элементы формы могут быть сложены или помещены рядом друг с другом.
      </p>
      <div class="docs-example docs-example-forms">
        <form>
          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">Your email</label>
              <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
            </div>
            <div class="six columns">
              <label for="exampleRecipientInput">Reason for contacting</label>
              <select class="u-full-width" id="exampleRecipientInput">
                <option value="Option 1">Questions</option>
                <option value="Option 2">Admiration</option>
                <option value="Option 3">Can I get your number?</option>
              </select>
            </div>
          </div>
          <label for="exampleMessage">Message</label>
          <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
          <label class="example-send-yourself-copy">
            <input type="checkbox">
            <span class="label-body">Send a copy to yourself</span>
          </label>
          <input class="button-primary" type="submit" value="Submit">
        </form>
      </div>


      <!-- CODE EXAMPLE ———————————————————————————————————————— -->
      <pre class="code-example"><code class="code-example-body prettyprint">&lt;!-- The above form looks like this --&gt;
&lt;form&gt;
  &lt;div class="row"&gt;
    &lt;div class="six columns"&gt;
      &lt;label for="exampleEmailInput"&gt;Your email&lt;/label&gt;
      &lt;input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput"&gt;
    &lt;/div&gt;
    &lt;div class="six columns"&gt;
      &lt;label for="exampleRecipientInput"&gt;Reason for contacting&lt;/label&gt;
      &lt;select class="u-full-width" id="exampleRecipientInput"&gt;
        &lt;option value="Option 1"&gt;Questions&lt;/option&gt;
        &lt;option value="Option 2"&gt;Admiration&lt;/option&gt;
        &lt;option value="Option 3"&gt;Can I get your number?&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;label for="exampleMessage"&gt;Message&lt;/label&gt;
  &lt;textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"&gt;&lt;/textarea&gt;
  &lt;label class="example-send-yourself-copy"&gt;
    &lt;input type="checkbox"&gt;
    &lt;span class="label-body"&gt;Send a copy to yourself&lt;/span&gt;
  &lt;/label&gt;
  &lt;input class="button-primary" type="submit" value="Submit"&gt;
&lt;/form&gt;

&lt;!-- Always wrap checkbox and radio inputs in a label and use a &lt;span class="label-body"&gt; inside of it --&gt;

&lt;!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% --&gt;
</code>
</pre>
      <!-- ————————————————————————————————————————————————————— -->


    </div>
    <div class="docs-section" id="tables">
      <h6 class="docs-header">Таблицы</h6>
      <p>
        При создании <code>table</code> нужно использовать правильный синтаксис используя <code>&lt;thead&gt;</code> и <code>&lt;tbody&gt;</code>.
      </p>
      <div class="docs-example">
        <table class="u-full-width">
          <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Location</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Dave Gamache</td>
            <td>26</td>
            <td>Male</td>
            <td>San Francisco</td>
          </tr>
          <tr>
            <td>Dwayne Johnson</td>
            <td>42</td>
            <td>Male</td>
            <td>Hayward</td>
          </tr>
          </tbody>
        </table>
      </div>


      <!-- CODE EXAMPLE ———————————————————————————————————————— -->
      <pre class="code-example"><code class="code-example-body prettyprint">&lt;table class="u-full-width"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Name&lt;/th&gt;
      &lt;th&gt;Age&lt;/th&gt;
      &lt;th&gt;Sex&lt;/th&gt;
      &lt;th&gt;Location&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Dave Gamache&lt;/td&gt;
      &lt;td&gt;26&lt;/td&gt;
      &lt;td&gt;Male&lt;/td&gt;
      &lt;td&gt;San Francisco&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Dwayne Johnson&lt;/td&gt;
      &lt;td&gt;42&lt;/td&gt;
      &lt;td&gt;Male&lt;/td&gt;
      &lt;td&gt;Hayward&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</code>
</pre>
      <!-- ————————————————————————————————————————————————————— -->


    </div>
    <div class="docs-section" id="queries">
      <h6 class="docs-header">Media queries</h6>
      <p>Skeleton uses media queries to serve its scalable grid, but also has a list of queries for convenience of
        styling your site across devices. The queries are mobile-first, meaning they target <code>min-width</code>.
        Mobile-first queries are how Skeleton's grid is built and is the preferrable method of organizing CSS. It means
        all styles outside of a query apply to all devices, then larger devices are targeted for enhancement. This
        prevents small devices from having to parse tons of unused CSS. The sizes for the queries are:</p>
      <div class="docs-example row">
        <div class="six columns">
          <ul>
            <li><strong>Desktop HD</strong>: 1200px</li>
            <li><strong>Desktop</strong>: 1000px</li>
            <li><strong>Tablet</strong>: 750px</li>
          </ul>
        </div>
        <div class="six columns">
          <ul>
            <li><strong>Phablet</strong>: 550px</li>
            <li><strong>Mobile</strong>: 400px</li>
          </ul>
        </div>
      </div>


      <!-- CODE EXAMPLE ———————————————————————————————————————— -->
      <pre class="code-example"><code class="code-example-body prettyprint">/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


</code>
</pre>
      <!-- ————————————————————————————————————————————————————— -->


    </div>
  </div>
</template>

<script>
  export default {
    name: "skeleton"
  }
</script>

<style lang="scss">
  #skeleton {

    .navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;
    }

    .container {
      max-width: 800px;
    }

    .header {
      margin-top: 6rem;
      text-align: center;
    }

    .value-prop {
      margin-top: 1rem;
    }

    .value-props {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    .docs-header {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      font-weight: 600;
    }

    .docs-section {
      border-top: 1px solid #eee;
      padding: 4rem 0;
      margin-bottom: 0;
    }

    .value-img {
      display: block;
      text-align: center;
      margin: 2.5rem auto 0;
    }

    .example-grid .column,
    .example-grid .columns {
      background: #EEE;
      text-align: center;
      border-radius: 4px;
      font-size: 1rem;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      margin-bottom: .75rem;
      font-weight: 600;
      letter-spacing: .1rem;
    }

    .docs-example .row,
    .docs-example.row,
    .docs-example form {
      margin-bottom: 0;
    }

    .docs-example h1,
    .docs-example h2,
    .docs-example h3,
    .docs-example h4,
    .docs-example h5,
    .docs-example h6 {
      margin-bottom: 1rem;
    }

    .heading-font-size {
      font-size: 1.2rem;
      color: #999;
      letter-spacing: normal;
    }

    .code-example {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    .code-example-body {
      white-space: pre;
      word-wrap: break-word
    }

    .example {
      position: relative;
      margin-top: 4rem;
    }

    .example-header {
      font-weight: 600;
      margin-top: 1.5rem;
      margin-bottom: .5rem;
    }

    .example-description {
      margin-bottom: 1.5rem;
    }

    .example-screenshot-wrapper {
      display: block;
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      border: 1px solid #eee;
      height: 250px;
    }

    .example-screenshot {
      width: 100%;
      height: auto;
    }

    .example-screenshot.coming-soon {
      width: auto;
      position: absolute;
      background: #eee;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
    }

    .navbar {
      display: none;
    }

    /* Larger than phone */
    @media (min-width: 550px) {
      .header {
        margin-top: 18rem;
      }
      .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem;
      }
      .value-img {
        margin-bottom: 1rem;
      }
      .example-grid .column,
      .example-grid .columns {
        margin-bottom: 1.5rem;
      }
      .docs-section {
        padding: 6rem 0;
      }
      .example-send-yourself-copy {
        float: right;
        margin-top: 12px;
      }
      .example-screenshot-wrapper {
        position: absolute;
        width: 48%;
        height: 100%;
        left: 0;
        max-height: none;
      }
    }

    /* Larger than tablet */
    @media (min-width: 750px) {
      /* Navbar */
      .navbar + .docs-section {
        border-top-width: 0;
      }
      .navbar,
      .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
      .navbar-spacer {
        display: none;
      }
      .navbar > .container {
        width: 100%;
      }
      .navbar-list {
        list-style: none;
        margin-bottom: 0;
      }
      .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
      }
      .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
      }
      .navbar-link.active {
        color: #33C3F0;
      }
      .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
      }
      .has-docked-nav .navbar-spacer {
        display: block;
      }
      /* Re-overiding the width 100% declaration to match size of % based container */
      .has-docked-nav .navbar > .container {
        width: 80%;
      }

      /* Popover */
      .popover.open {
        display: block;
      }
      .popover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
        top: 92%;
        left: -50%;
        -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
      }
      .popover-item:first-child .popover-link:after,
      .popover-item:first-child .popover-link:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .popover-item:first-child .popover-link:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }
      .popover-item:first-child .popover-link:before {
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #eee;
        border-width: 11px;
        margin-left: -11px;
      }
      .popover-list {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .popover-item {
        padding: 0;
        margin: 0;
      }
      .popover-link {
        position: relative;
        color: #222;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.0rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: .1rem;
      }
      .popover-item:first-child .popover-link {
        border-radius: 4px 4px 0 0;
      }
      .popover-item:last-child .popover-link {
        border-radius: 0 0 4px 4px;
        border-bottom-width: 0;
      }
      .popover-link:hover {
        color: #fff;
        background: #33C3F0;
      }
      .popover-link:hover,
      .popover-item:first-child .popover-link:hover:after {
        border-bottom-color: #33C3F0;
      }
    }
  }
</style>
